@page "/"
@using Microsoft.AspNetCore.SignalR.Client

@using Microsoft.AspNetCore.Authorization;
<h1>News</h1>
<br />
<div style="background-color: #F5F5F5; padding: 25px; margin-left: 40px; margin-right: 40px; margin-bottom: 60px;">
    <h2 style="padding-bottom:20px;">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h2>
    <text class="font-italic" style="font-size:130%;">

         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel tellus non diam suscipit lobortis. Donec ac ornare nisl. Sed faucibus finibus enim, in porta dui mattis eu. Vivamus at convallis justo, non aliquam justo. Donec pulvinar egestas diam, sit amet dignissim ante mollis id. Ut ut diam at leo tincidunt malesuada et non dui. Aenean sed nulla leo.
            
        Maecenas eros ex, semper in mi aliquam, dictum posuere dui. Nullam nec eros ac risus hendrerit feugiat vitae a dolor. Donec nibh tortor, dapibus quis arcu vitae, sagittis rutrum ipsum. Aliquam erat volutpat. Cras vitae fermentum dui. Suspendisse mattis lorem ac lorem dignissim fermentum. Vivamus viverra feugiat ante sit amet semper. Duis sagittis egestas velit. Curabitur nec purus sit amet metus dictum auctor eget quis erat. Pellentesque porttitor metus eu egestas convallis. Fusce dignissim ex at libero blandit, vel lobortis eros pharetra. Integer non libero nec purus viverra tristique. Quisque hendrerit placerat metus, a interdum ipsum semper vitae. Praesent posuere erat et dolor ornare scelerisque.

        Donec ante urna, elementum ac aliquet ut, viverra in lacus. Fusce imperdiet libero ut quam volutpat, vel iaculis velit hendrerit. Donec ut quam nec ante dictum sodales eu ac sapien. Vestibulum ornare a metus vel scelerisque. Nunc condimentum, diam in semper viverra, ipsum nunc tempor magna, id porttitor turpis nulla nec enim. Suspendisse leo nibh, fermentum et pulvinar non, commodo vel urna. Nam consectetur eleifend odio ac feugiat. Cras malesuada, tellus sed tincidunt pharetra, enim elit vulputate est, quis auctor metus mi feugiat diam. Nam massa lorem, ornare sollicitudin ornare quis, molestie non orci. Pellentesque ornare odio quis luctus sollicitudin. In et est commodo, hendrerit lacus vitae, laoreet odio. In suscipit purus gravida nisl viverra, in varius justo ornare. Cras porta ultrices leo, quis consectetur tortor egestas sed. Curabitur quis ligula sed libero consequat euismod quis.
    </text>
</div>
<div style="background-color: #F5F5F5; padding: 25px; margin-left: 40px; margin-right: 40px; margin-bottom: 10px;">
    <h2 style="padding-bottom:20px;">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h2>
    <text class="font-italic" style="font-size:130%;">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel tellus non diam suscipit lobortis. Donec ac ornare nisl. Sed faucibus finibus enim, in porta dui mattis eu. Vivamus at convallis justo, non aliquam justo. Donec pulvinar egestas diam, sit amet dignissim ante mollis id. Ut ut diam at leo tincidunt malesuada et non dui. Aenean sed nulla leo.

        Maecenas eros ex, semper in mi aliquam, dictum posuere dui. Nullam nec eros ac risus hendrerit feugiat vitae a dolor. Donec nibh tortor, dapibus quis arcu vitae, sagittis rutrum ipsum. Aliquam erat volutpat. Cras vitae fermentum dui. Suspendisse mattis lorem ac lorem dignissim fermentum. Vivamus viverra feugiat ante sit amet semper. Duis sagittis egestas velit. Curabitur nec purus sit amet metus dictum auctor eget quis erat. Pellentesque porttitor metus eu egestas convallis. Fusce dignissim ex at libero blandit, vel lobortis eros pharetra. Integer non libero nec purus viverra tristique. Quisque hendrerit placerat metus, a interdum ipsum semper vitae. Praesent posuere erat et dolor ornare scelerisque.

        Donec ante urna, elementum ac aliquet ut, viverra in lacus. Fusce imperdiet libero ut quam volutpat, vel iaculis velit hendrerit. Donec ut quam nec ante dictum sodales eu ac sapien. Vestibulum ornare a metus vel scelerisque. Nunc condimentum, diam in semper viverra, ipsum nunc tempor magna, id porttitor turpis nulla nec enim. Suspendisse leo nibh, fermentum et pulvinar non, commodo vel urna. Nam consectetur eleifend odio ac feugiat. Cras malesuada, tellus sed tincidunt pharetra, enim elit vulputate est, quis auctor metus mi feugiat diam. Nam massa lorem, ornare sollicitudin ornare quis, molestie non orci. Pellentesque ornare odio quis luctus sollicitudin. In et est commodo, hendrerit lacus vitae, laoreet odio. In suscipit purus gravida nisl viverra, in varius justo ornare. Cras porta ultrices leo, quis consectetur tortor egestas sed. Curabitur quis ligula sed libero consequat euismod quis.
    </text>
</div>
<div style="background-color: #F5F5F5; padding: 25px; margin-left: 40px; margin-right: 40px; margin-bottom: 10px;">
    <h2 style="padding-bottom:20px;">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h2>
    <text class="font-italic" style="font-size:130%;">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel tellus non diam suscipit lobortis. Donec ac ornare nisl. Sed faucibus finibus enim, in porta dui mattis eu. Vivamus at convallis justo, non aliquam justo. Donec pulvinar egestas diam, sit amet dignissim ante mollis id. Ut ut diam at leo tincidunt malesuada et non dui. Aenean sed nulla leo.

        Maecenas eros ex, semper in mi aliquam, dictum posuere dui. Nullam nec eros ac risus hendrerit feugiat vitae a dolor. Donec nibh tortor, dapibus quis arcu vitae, sagittis rutrum ipsum. Aliquam erat volutpat. Cras vitae fermentum dui. Suspendisse mattis lorem ac lorem dignissim fermentum. Vivamus viverra feugiat ante sit amet semper. Duis sagittis egestas velit. Curabitur nec purus sit amet metus dictum auctor eget quis erat. Pellentesque porttitor metus eu egestas convallis. Fusce dignissim ex at libero blandit, vel lobortis eros pharetra. Integer non libero nec purus viverra tristique. Quisque hendrerit placerat metus, a interdum ipsum semper vitae. Praesent posuere erat et dolor ornare scelerisque.

        Donec ante urna, elementum ac aliquet ut, viverra in lacus. Fusce imperdiet libero ut quam volutpat, vel iaculis velit hendrerit. Donec ut quam nec ante dictum sodales eu ac sapien. Vestibulum ornare a metus vel scelerisque. Nunc condimentum, diam in semper viverra, ipsum nunc tempor magna, id porttitor turpis nulla nec enim. Suspendisse leo nibh, fermentum et pulvinar non, commodo vel urna. Nam consectetur eleifend odio ac feugiat. Cras malesuada, tellus sed tincidunt pharetra, enim elit vulputate est, quis auctor metus mi feugiat diam. Nam massa lorem, ornare sollicitudin ornare quis, molestie non orci. Pellentesque ornare odio quis luctus sollicitudin. In et est commodo, hendrerit lacus vitae, laoreet odio. In suscipit purus gravida nisl viverra, in varius justo ornare. Cras porta ultrices leo, quis consectetur tortor egestas sed. Curabitur quis ligula sed libero consequat euismod quis.
    </text>
</div>
<div style="background-color: #F5F5F5; padding: 25px; margin-left: 40px; margin-right: 40px;margin-bottom:10px;">
    <h2 style="padding-bottom:20px;">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h2>
    <text class="font-italic" style="font-size:130%;">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel tellus non diam suscipit lobortis. Donec ac ornare nisl. Sed faucibus finibus enim, in porta dui mattis eu. Vivamus at convallis justo, non aliquam justo. Donec pulvinar egestas diam, sit amet dignissim ante mollis id. Ut ut diam at leo tincidunt malesuada et non dui. Aenean sed nulla leo.

        Maecenas eros ex, semper in mi aliquam, dictum posuere dui. Nullam nec eros ac risus hendrerit feugiat vitae a dolor. Donec nibh tortor, dapibus quis arcu vitae, sagittis rutrum ipsum. Aliquam erat volutpat. Cras vitae fermentum dui. Suspendisse mattis lorem ac lorem dignissim fermentum. Vivamus viverra feugiat ante sit amet semper. Duis sagittis egestas velit. Curabitur nec purus sit amet metus dictum auctor eget quis erat. Pellentesque porttitor metus eu egestas convallis. Fusce dignissim ex at libero blandit, vel lobortis eros pharetra. Integer non libero nec purus viverra tristique. Quisque hendrerit placerat metus, a interdum ipsum semper vitae. Praesent posuere erat et dolor ornare scelerisque.

        Donec ante urna, elementum ac aliquet ut, viverra in lacus. Fusce imperdiet libero ut quam volutpat, vel iaculis velit hendrerit. Donec ut quam nec ante dictum sodales eu ac sapien. Vestibulum ornare a metus vel scelerisque. Nunc condimentum, diam in semper viverra, ipsum nunc tempor magna, id porttitor turpis nulla nec enim. Suspendisse leo nibh, fermentum et pulvinar non, commodo vel urna. Nam consectetur eleifend odio ac feugiat. Cras malesuada, tellus sed tincidunt pharetra, enim elit vulputate est, quis auctor metus mi feugiat diam. Nam massa lorem, ornare sollicitudin ornare quis, molestie non orci. Pellentesque ornare odio quis luctus sollicitudin. In et est commodo, hendrerit lacus vitae, laoreet odio. In suscipit purus gravida nisl viverra, in varius justo ornare. Cras porta ultrices leo, quis consectetur tortor egestas sed. Curabitur quis ligula sed libero consequat euismod quis.
    </text>
</div>