@page "/"
@using Microsoft.AspNetCore.SignalR.Client

@using Microsoft.AspNetCore.Authorization;
@code{
    List<KeyValuePair<string, string>> articles = new();

    async Task GetPosts()
    {
        HttpClient client = new HttpClient();
        articles = await client.GetFromJsonAsync<List<KeyValuePair<string, string>>>("https://localhost:44303/post/GetPosts");
    }

    protected override async Task OnInitializedAsync()
    {
        await GetPosts();
    }
}
<h1 class="pageheader">Aktualności o aktualizacjach</h1>
<br />
@if(articles.Count() > 0){
@foreach (var article in articles)
{
    <div class="post">
        <h2 style="font-weight:bold;float:left;margin-bottom:1%;">@article.Key</h2><br /><br />
        <br /><text>@article.Value</text>
    </div>
}
}