@page "/"
@using Microsoft.AspNetCore.SignalR.Client

@using Microsoft.AspNetCore.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@code{
    //[CascadingParameter]
    //private Task<AuthenticationStateProvider> _authState { get; set; }
    //  private AuthenticationStateProvider authState;

    HubConnection hubConnection = new HubConnectionBuilder()
    .WithUrl("https://localhost:44303/connect")
    .Build();

    protected override async Task OnInitializedAsync()
    {
        //   var authState = await _authState;


        await RefreshTables();
    }

    bool inGame = false;

    async Task RefreshTables()
    {
        HttpClient client = new HttpClient();
        tables = await client.GetFromJsonAsync<List<string>>("https://localhost:44303/api/GetTables");
    }

    async Task CreateGame()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        playerName = user.Identity.Name;

        await hubConnection.StartAsync();
        tableId = Guid.NewGuid().ToString();


        await hubConnection.SendAsync("JoinTable", tableId);
        inGame = true;
    }

    async Task JoinGame(string tableId)
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        playerName = user.Identity.Name;

        await hubConnection.StartAsync();
        this.tableId = tableId;
        isWhite = false;
        await hubConnection.SendAsync("JoinTable", tableId);
        inGame = true;
    }
    string playerName = "";
    string tableId = "";
    //  string userName = "";
    List<string> tables = new List<string>();
    bool isWhite = true;
}
<AuthorizeView>
    <Authorized>
        @if (inGame)
        {
            <Checkerboard HubConnection="hubConnection" TableId="@tableId" playerName="@playerName" IsWhitePlayer="isWhite" />
        }
        else
        {
            <button @onclick="CreateGame">Create Game</button>
            @foreach (string table in tables)
            {
                <button @onclick="() => JoinGame(table)">Join Game @table</button>
            }
        }
    </Authorized>
    <NotAuthorized>
        <p><a href="/Identity/Account/Login">Sign in</a> to see this page.</p>
    </NotAuthorized>
</AuthorizeView>