@page "/ranking"
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Authorization;
@code{
    Dictionary<string, int> scores = new();

    async Task GetScores()
    {
        HttpClient client = new HttpClient();
        scores = await client.GetFromJsonAsync<Dictionary<string, int>>("https://localhost:44303/api/GetScores");
    }

    protected override async Task OnInitializedAsync()
    {
        await GetScores();
    }
    int i = 1;
}

<h1>Top 10 players</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var score in scores)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@score.Key</td>
                <td>@score.Value</td>
            </tr>
            i += 1;
        }
    </tbody>
</table>
